@use "../parts/variables" as v;

.sec-all-need {
  margin-top: -20px;

  &__content {
    display: grid;
    grid-template-columns: 43.8% 1fr;

    @media (max-width: v.$screen-lg) {
      display: flex;
      flex-direction: column;
    }

    &-right {
      position: relative;
    }
  }

  &__slider {
    border-radius: var(--app-border-radius);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &-nav {
      position: absolute;
      left: 22px;
      bottom: 26px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      z-index: 3;

      @media (max-width: v.$screen-lg) {
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        bottom: auto;
        left: auto;
      }
    }
  }

  &__tags {
    width: 110%;
    height: 100%;
    padding: 25px;
    border-radius: var(--app-border-radius);
    background: color-mix(in srgb, var(--app-white), transparent 23%);
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    overflow: hidden;

    @media (max-width: v.$screen-lg) {
      width: 100%;
      position: relative;
      padding: 34px 20px;
      margin-top: -40px;
    }

    &-title {
      font-size: 24px;
      font-weight: 500;

      @media (max-width: v.$screen-lg) {
        font-size: 20px;
      }
    }

    &-list {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;

      span {
        padding: 10px 20px;
        color: var(--app-white);
        background-color: var(--app-green);
        border-radius: var(--app-border-radius);

        @media (max-width: 1300px) {
          font-size: 12px;
          padding: 10px 15px;
        }

        @media (max-width: 1300px) {
          font-size: 14px;
          padding: 10px 20px;
        }
      }
    }
  }
}
