@use "../parts/variables" as v;

.sec-banner {
  &__wrap {
    display: grid;
    grid-template-columns: 1fr 54%;
    border-radius: var(--app-border-radius);
    min-height: 574px;
    background: var(--app-gray-bg);

    @media (max-width: v.$screen-lg) {
      display: flex;
      flex-direction: column-reverse;
      background: transparent;
      min-height: 320px;
    }

    &-left {
      padding: 40px;
      background: var(--app-gray-bg);
      border-radius: var(--app-border-radius);

      @media (max-width: v.$screen-lg) {
        padding: 30px 20px;
        margin-top: -35px;
        z-index: 2;
        padding-bottom: 70px;
      }
    }

    &-right {
      padding: 12px;
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      @media (max-width: v.$screen-lg) {
        padding: 0;
      }
    }
  }

  &__title {
    color: var(--app-green-dark);
    margin-bottom: 14px;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 36px;
  }

  &__img {
    border-radius: var(--app-border-radius);
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    @media (max-width: v.$screen-lg) {
      position: relative;
      height: 320px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__benefits {
    padding: 30px;
    position: relative;
    z-index: 1;
    max-width: 282px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: var(--app-border-radius);
    background: color-mix(in srgb, var(--app-white), transparent 50%);
    backdrop-filter: blur(4px);
    box-shadow: -9px 3px 17px 0 rgba(0, 0, 0, 0.25);

    // background: center / contain no-repeat url(../img/home-banner-ben-bg.png);
    @media (max-width: v.$screen-lg) {
      max-width: 100%;
      margin-top: -36px;
      z-index: 3;
    }
  }

  &__benefit {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-icon {
      width: 40px;
    }

    span {
      font-size: 17px;
      font-weight: 500;
    }
  }
}
