@use "../parts/variables" as v;

.sec-portfolio {
  &__slider {
    margin-top: 40px;
    position: relative;

    .swiper {
      max-width: 1124px;
      margin: 0 auto;

      @media (max-width: v.$screen-lg) {
        overflow: visible;
        max-width: 234px;
      }
    }

    .swiper-slide {
      z-index: 2;

      img {
        border-radius: 30px;
        filter: brightness(0.5);
        transform: scale(0.8);
        transition: all 0.2s ease;
        margin: 0 auto;
        position: relative;
      }

      &-active {
        z-index: 3;

        img {
          filter: brightness(1);
          transform: scale(1);
        }
      }
    }
  }

  .slider-nav {
    position: absolute;
    display: flex;
    width: 94%;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: v.$screen-lg) {
      display: none;
    }
  }
}
