.accordion {
  &__item {
    &.is-open {
      .accordion__content {
        grid-template-rows: 1fr;
        opacity: 1;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.3s ease-out;
    overflow: hidden;
    opacity: 0;
  }

  &__inner {
    min-height: 0;
  }

  &__control {
    transition: transform 0.3s ease;
    cursor: pointer;
  }
}
