@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    src:
      url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@include font("Helvetica Neue", HelveticaNeueBold, 700, bold);
@include font("Helvetica Neue", HelveticaNeueMedium, 500, medium);
@include font("Helvetica Neue", HelveticaNeueRegular, 400, normal);
@include font("Helvetica Neue", HelveticaNeueLight, 300, lighter);
@include font("Helvetica Neue", HelveticaNeueThin, 100, thin);
