@use "variables" as v;

.modal-wrapper {
  width: 100%;
  height: 100%;
  background-color: color-mix(in srgb, #000, transparent 50%);
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 100;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modal-content {
  position: relative;
  width: 95%;
  max-width: 1074px;
  min-height: 600px;
  max-height: 80vh;
  overflow: auto;
  padding: 60px 30px;
  border-radius: 40px;
  background-color: var(--app-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (max-width: v.$screen-md) {
    padding: 60px 15px;
    min-height: 560px;
    border-radius: 20px;
  }

  .x-btn {
    background: transparent;
    border: none;
    width: 34px;
    height: 34px;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;

    @media (max-width: v.$screen-md) {
      top: 10px;
      right: 10px;
    }
  }
}

.modal-content__main {
  margin: 0 auto;
  max-width: 636px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex-grow: 1;

  @media (max-width: v.$screen-md) {
    max-width: 282px;
  }
}

.modal-content__footer {
  display: flex;
  margin-left: auto;
  gap: 34px;
}

.modal {
  &__title {
    font-size: 32px;
    font-weight: 500;
    color: var(--app-green);
    line-height: 120%;

    @media (max-width: v.$screen-md) {
      font-size: 22px;
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-top: 14px;

    @media (max-width: v.$screen-md) {
      font-size: 16px;
    }
  }

  &__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__btn {
    margin-top: 46px;

    @media (max-width: v.$screen-md) {
      margin-top: 30px;
    }
  }
}

.catalog-popup {
  padding: 30px;
  max-width: 630px;
  background-color: #fff;
  border-radius: 8px;
  text-align: left;
  margin: 0 auto;
  position: relative;

  @media (max-width: 480px) {
    padding: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: var(--app-black);
    text-align: center;
    margin-bottom: 15px;

    @media (max-width: 480px) {
      font-size: 20px;
    }

    @media screen and (max-width: 767px) {
      font-size: 24px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--black);
    margin: 0 auto 15px;
    text-align: center;
    max-width: 506px;

    @media (max-width: 480px) {
      font-size: 13px;
    }

    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  p:not(:last-child) {
    margin-bottom: 15px;
  }

  &__field {
    margin-bottom: 25px;
  }

  &__input {
    outline: none;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }

  .custom-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    flex-direction: row;
    cursor: pointer;
    user-select: none;
    position: relative;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
    }
  }

  .catalog-popup__agreement {
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--black);
  }

  .custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .custom-checkbox__box {
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin: 0;
  }

  .custom-checkbox__box {
    position: relative;
    display: inline-flex;
    vertical-align: top;
    margin-top: 0;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      width: 20px;
      height: 20px;
      border: 1px solid var(--app-accent-blue);
      border-radius: 2px;
      background-color: #fff;
      box-sizing: border-box;
    }

    &::after {
      content: "";
      position: absolute;
      left: 4px;
      top: 6px;
      width: 12px;
      height: 6px;
      border-left: 2px solid var(--app-accent-blue);
      border-bottom: 2px solid var(--app-accent-blue);
      transform: rotate(-45deg);
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }

  .catalog-popup__agreement input[type="checkbox"] {
    accent-color: var(--blue);
    margin-top: 3px;
  }

  input[type="checkbox"]:checked + .custom-checkbox__box::after {
    opacity: 1;
  }

  .btn {
    width: 100%;
  }

  .catalog-popup__agreement a {
    color: var(--app-accent-blue);
    text-decoration: underline;
  }

  .mfp-close {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    right: 20px;
    top: 20px;
    border: none;
    opacity: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/x-icon.svg);
    font-size: 0;

    @media screen and (max-width: 767px) {
      width: 28px;
      height: 28px;
      padding: 5px;
      background-color: var(--app-light-blue);
      background-size: 55%;
      border-radius: 3px;
      right: 10px;
      top: 13px;
    }
  }

  .mfp-close-btn-in .mfp-close {
    color: #333;
  }
}

.catalog-popup__checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 25px;

  &.--circle {
    & .custom-checkbox__box {
      border-radius: 100%;

      &::before {
        border-radius: 100%;
      }
    }
  }

  & .catalog-popup__checkbox-title {
    margin-bottom: 5px;
  }

  & .catalog-popup__field {
    margin-bottom: 0;
  }

  & .custom-checkbox {
    margin-bottom: 0;
  }
}

.modal-form-err {
  .modal-content__footer,
  .modal-content__main {
    margin-top: auto;
  }
}

.modal-form-request {
  &__form {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 26px;

    @media (max-width: 767px) {
      gap: 22px;
    }
  }

  .sec-form__input {
    width: 100%;
    margin-bottom: 0;

    input {
      border-color: var(--app-green);
      color: var(--app-black);

      &::placeholder {
        color: var(--app-black);
      }
    }
  }

  .sec-form__submit {
    margin-top: 12px;

    @media (max-width: 767px) {
      margin-top: 12px;
    }
  }

  .custom-checkbox {
    margin-top: 0;
    --color: var(--app-black);

    a {
      border-bottom: 1px solid var(--app-black);
    }
  }
}
