:root {
  /* Colors */
  --app-black: #131313;
  --app-white: #fbfbfb;
  --app-green: #5e6d55;
  --app-green-dark: #3d4c33;
  --app-green-text: #4e4e4e;
  --app-gray-bg: #f5f5f5;
  --app-red: #ff0000;

  /* Spacing */
  --sec-p-y: 45px;
  --app-border-radius: 20px;

  @media (max-width: 767px) {
    --sec-p-y: 40px;
  }
}

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1300px;
