section#about.sec-about.sec-p-y
  .container 
    .sec-about__title.h2 Агентство «ХЭНТУ» и клиника «Жуйкан»
    .sec-about__subtitle.h2-subtitle Официальное сопровождение медицинских туров в Хэйхэ

    .sec-about__content
      .sec-about__content-text
        p 
          b Туристическое агентство «ХЭНТУ» («Добрый путь») 
          | — юридически зарегистрированная компания в городе Хэйхэ под руководством генерального директора Цуй Лэя (Алексей). Агентство является 
          b официальным представителем многопрофильного медицинского центра «Жуйкан» 
          | и имеет право сопровождать иностранных пациентов на лечение в клинику.

        p 
          b Клиника «Жуйкан»
          | — один из крупнейших медицинских центров Хэйхэ. Клиника оснащена
          b современным диагностическим и стоматологическим оборудованием, 
          | располагает собственными зуботехническими лабораториями в Хэйхэ и Харбине. Прием ведут врачи
          b высшей категории,
          | прошедшие обучение в ведущих медицинских вузах Китая и зарубежные стажировки.

        p 
          b Мы полностью берем на себя организацию поездки.
          | Наша цель — сделать медицинскую поездку в Китай простой, безопасной и прозрачной. Пациенты оплачивают только лечение в клинике, все основные
          b организационные услуги предоставляются бесплатно.

      a(href="https://www.youtube.com/watch?v=ZR-HcXLRDHw" data-fancybox).sec-about__content-video.img-cover
        img(src="./img/about-video-bg.jpg", alt="").sec-about__content-video-bg
        .video-circle
          img(src="./img/play-bg.svg", alt="").video-circle__bg
          img(src="./img/play.svg", alt="").video-circle__icon
