section.sec-all-need.sec-p-y
  .container 
    .sec-all-need__content

      .sec-all-need__content-left
        .sec-all-need__slider
          .swiper
            .swiper-wrapper
              .swiper-slide.img-cover
                img(src="./img/all-need-1.jpg", alt="")
              .swiper-slide.img-cover
                img(src="./img/all-need-1.jpg", alt="")
          .sec-all-need__slider-nav
            .slider-button-prev
            .slider-button-next

      .sec-all-need__content-right
        .sec-all-need__tags
          .sec-all-need__tags-title Все необходимое для лечения уже включено!
          .sec-all-need__tags-list
            span куратор в клинике
            span координатор-переводчик в Благовещенске
            span трансферы в Благовещенске и Хэйхэ
            span помощь с таможней и электронной декларацией КНР
            span билет на переправу в Хэйхэ
            span проживание в гостинице с завтраками (на время лечения)
            span обеды в клинике
            span сопровождение куратором
            span финальный ужин в ресторане
            span экскурсии по Хэйхэ (по желанию)
            span сопровождение в Хэйхэ (по запросу)
            span для групп от 5 человек сопровождение гидом в Хэйхэ
