section#contacts.sec-contacts.sec-p-y--top
  .container 
    .h2 Контакты
    .h2-subtitle Если вы хотите узнать стоимость лечения, сроки поездки или задать #[br(class="d-none-max-mob")] любой вопрос #[br(class="d-none-min-mob")] — свяжитесь с нашим координатором.

    .sec-contacts__content
      .sec-contacts__content-left
        .sec-contacts__links
          a(href="tel:+79145380606") +7 (914) 538-06-06
          a(href="mailto:stomat@mail.ru") Stomat@mail.ru
          p г. Москва, ул. Кирова 44

      .sec-contacts__content-right
        .sec-contacts__socs
          a(href="#" target="_blank")
            img.header-socs__icon(src="img/soc-vk.svg" alt="VK")
          a(href="#" target="_blank")
            img.header-socs__icon(src="img/soc-yt.svg" alt="YouTube")
          a(href="#" target="_blank")
            img.header-socs__icon(src="img/soc-tg.svg" alt="Telegram")
          a(href="#" target="_blank")
            img.header-socs__icon(src="img/soc-wa.svg" alt="WhatsApp")
