section.sec-portfolio.sec-p-y
  .container 
    .h2 Фотогалерея до/после
    .h2-subtitle Реальные результаты и пациенты

    .sec-portfolio__slider
      .swiper 
        .swiper-wrapper
          .swiper-slide
            img(src="./img/services-1.jpg", alt="")
          .swiper-slide
            img(src="./img/services-1.jpg", alt="")
          .swiper-slide
            img(src="./img/services-1.jpg", alt="")

      .swiper-pagination
      .slider-nav
        .slider-button-prev
        .slider-button-next
