section.sec-videos.sec-p-y
  .container 
    .h2 Видео пациентов и клиники
    .h2-subtitle Видеоотзывы и процесс лечения

    .sec-videos__slider
      .swiper 
        .swiper-wrapper
          .swiper-slide
            a(href="https://www.youtube.com/watch?v=ZR-HcXLRDHw" data-fancybox).sec-videos__item.video-play-icon.img-cover
              img(src="./img/about-video-bg.jpg", alt="")
          .swiper-slide
            a(href="https://www.youtube.com/watch?v=ZR-HcXLRDHw" data-fancybox).sec-videos__item.video-play-icon.img-cover
              img(src="./img/about-video-bg.jpg", alt="")
          .swiper-slide
            a(href="https://www.youtube.com/watch?v=ZR-HcXLRDHw" data-fancybox).sec-videos__item.video-play-icon.img-cover
              img(src="./img/about-video-bg.jpg", alt="")
          .swiper-slide
            a(href="https://www.youtube.com/watch?v=ZR-HcXLRDHw" data-fancybox).sec-videos__item.video-play-icon.img-cover
              img(src="./img/about-video-bg.jpg", alt="")

      .swiper-pagination
      .swiper-nav-center.--with-dots
        .slider-button-prev
        .slider-button-next
