// General styles
@forward "./parts/fonts";
@forward "./parts/variables";
@forward "./parts/general";
@forward "./parts/header";
@forward "./parts/footer";
@forward "./parts/modals";
@forward "./parts/typography";
@forward "./parts/accordion";

@forward "./home/banner";
@forward "./home/about";
@forward "./home/all-need";
@forward "./home/services";
@forward "./home/qa";
@forward "./home/portfolio";
@forward "./home/videos";
@forward "./home/contacts";
@forward "./home/form";
@forward "./404/banner";
